.container {
   width: 800px;
   margin-top: 100px;
   margin-left: calc(50% - 400px);
}

.left-column {
    float: left;
    width: 40%;
    padding: 40px;
    background-color: #4B6064;
}

.main-title {
    font-size: 40px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 150px;
}

.bottom-links {
    color: #fff;
}

.bottom-links > .link {
    color: #fff;
}

.right-column {
    float: left;
    width: 60%;
    padding: 60px;
    background-color: blue;
}

.close {

}